body
  {
    background-image: url(pokemon_grass_background_by_darkdinox_df0wd93-fullview.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  body
  {
    background-color: rgb(168, 223, 223);
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(14, 255, 6);
  }
   
  h3, h6, h4
  {
    font-family: Arial, Helvetica, sans-serif;
  }
   
  statHeros
  {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-direction: column;
    width: 150px;
    border: 4px solid rgb(14, 14, 219);
  }

  statHeros h3
  {
    margin: 1px 1px 1px 1px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: rgb(18, 66, 94);
  }

  statHeros h6
  {
    display: flex;
    flex-direction: row;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    background-color: rgb(18, 190, 41);
    border: 1px solid black;
    border-radius: 10px;
    color :rgb(255, 255, 255)
    
  }

  mana h6
  {
    background-color: rgb(78, 139, 230);
  }

  #maDiv4
  {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  #maDiv5
  {
    display: flex;
    justify-content: center;
  }

  #maDiv6
  {
    display: flex;
    justify-content: center;
  }

  #maDiv7
  {
    display: flex;
    justify-content: center;
  }




  vieMonstres
  {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(194, 26, 26);
    justify-content: space-around;
    width: 350px;
  }
   
  vieMonstres h6
  {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 3px 3px 3px 3px;
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
  }

  #maDiv
  {
    display: flex;
    justify-content: center;
  }

  #maDiv2
  {
    display: flex;
    justify-content: center;
  }

  #maDiv3
  {
    display: flex;
    justify-content: center;
  }

  scene
  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 4px solid rgb(40, 189, 77);
  }
  
  interface
  {
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid rgb(236, 236, 7);
  }
   
  #choix
  {
    display: flex;
    justify-content: space-around;
  }
   
  #choixAttaque
  {
    background-color: rgb(231, 137, 137);
    padding: 3px 3px 3px 3px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
  }
   
  #choixDefense
  {
    display: inline-block;
    justify-content: middle;
    background-color: rgb(78, 143, 78);
    padding: 3px 3px 3px 3px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
  }
   
  #choixSpecial
  {
    display: inline-block;
    justify-content: middle;
    background-color: rgb(120, 120, 202);
    padding: 3px 3px 3px 3px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
  }

  boiteDialogue
  {
    text-align: center;
    align-self: center;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(170, 170, 170);
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
    width: 800px;
  }
